<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itoys.image">

    <!-- 允许应用程序打开网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 允许应用程序打开网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许应用程序从外部存储读取 Android 11 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- 允许应用程序从外部存储读取 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许应用程序写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

    </application>
</manifest>